h1 {

    color: bisque;
    font font-family: Impact, "Helvetica Neue", Helvetica, sans-serif;;

}

.nav {

list-style: none;
padding-left: 0;

border-style: dashed;


width: 50vw;
margin: auto;

text-align: center;








}

.nav>li {

    display: inline-block;

    border-style: outset;


}

.nav>li>a {

    text-decoration: none;
    color: black;
}

.nav>li>a:hover{
    background-color: red;
}